<a href="https://colab.research.google.com/github/Abstrakx/mentoring-fki/blob/main/KMP_Cinsub_Preprocessing_28_Oct_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Data Preprocessing KMP** (28-Oct-2023)

**Process :**
1. Import data using `!wget`
2. Read excel data using pandas library
3. Get the `"CODE"` coloumns for processing data
4. Using `data_cleaning` function
5. Get new data into new variable
6. Using pd.concat to get final data and split it into `final_data` and `duplicated_data`
7. If no duplicated data export data frame to excel using to_excel

Ikhwan Data usage:
* Cinsub_2_Fakultas Lain Ikhwan.xlsx

Akhwat Data usage:
* Cinsub_2_Fakultas Lain Akhwat.xlsx

In [30]:
import pandas as pd

# Read dataset
data_ikhwan_mix = pd.read_excel("Cinsub_2_Fakultas Lain Ikhwan.xlsx")
data_akhwat_mix = pd.read_excel("Cinsub_2_Fakultas Lain Akhwat.xlsx")

df_ikhwan = pd.DataFrame(data_ikhwan_mix)
df_akhwat = pd.DataFrame(data_akhwat_mix)

df_ikhwan

                   TIME                                               CODE
0   2023-10-28 05:18:22  A710230135;\nJakarta, 06 August 2004;\nRT 2 RW...
1   2023-10-28 05:18:35  A710230074;\nSurakarta, 04 April 2005;\nRT 03 ...
2   2023-10-28 05:19:03  C100230387;\nWonogiri, 16 December 2004;\nRT 1...
3   2023-10-28 05:19:11  D200230095;\nSragen, 02 July 2005;\nRT 003 RW ...
4   2023-10-28 05:19:22  A710230055;\nKlaten, 14 May 2005;\nRT 1 RW 5, ...
..                  ...                                                ...
56  2023-10-28 05:32:29                                         D600230160
57  2023-10-28 05:33:08                                         A710230012
58  2023-10-28 05:33:20                                         A320220097
59  2023-10-28 05:33:31                                         A320220044
60  2023-10-28 05:34:02                                         A220230024

[61 rows x 2 columns]

In [31]:
df_code_ikhwan = df_ikhwan[0:]["CODE"]
df_code_akhwat = df_akhwat[0:]["CODE"]

df_code_ikhwan

0     A710230135;\nJakarta, 06 August 2004;\nRT 2 RW...
1     A710230074;\nSurakarta, 04 April 2005;\nRT 03 ...
2     C100230387;\nWonogiri, 16 December 2004;\nRT 1...
3     D200230095;\nSragen, 02 July 2005;\nRT 003 RW ...
4     A710230055;\nKlaten, 14 May 2005;\nRT 1 RW 5, ...
                            ...
56                                           D600230160
57                                           A710230012
58                                           A320220097
59                                           A320220044
60                                           A220230024
Name: CODE, Length: 61, dtype: object

In [33]:
def data_cleaning(data_frame):
  cleaning_data = []
  cleaning_data_min_3 = []
  cleaning_data_1 = []

  for i in data_frame.to_list():
    element = i.split(';\n')
    if len(element) == 3:
      cleaning_data.append(element)
    elif len(element) < 3:
      cleaning_data_min_3.append(element)
    else:
      cleaning_data_1.append([i])

  return cleaning_data, cleaning_data_min_3, cleaning_data_1

In [42]:
data_cleaned_ikhwan = data_cleaning(df_code_ikhwan)
data_cleaned_akhwat = data_cleaning(df_code_akhwat)

data_cleaned_ikhwan

([['A710230135',
   'Jakarta, 06 August 2004',
   'RT 2 RW 4, Kelurahan Pule, Kecamatan Jatisrono,  Kabupaten Wonogiri, Jawa Tengah'],
  ['A710230074',
   'Surakarta, 04 April 2005',
   'RT 03 RW 06, Kelurahan Ketelan, Kecamatan Banjarsari,  Kota Surakarta, Jawa Tengah'],
  ['C100230387',
   'Wonogiri, 16 December 2004',
   'RT 1 RW 8, Kelurahan Klunggen, Kecamatan Slogohimo,  Kabupaten Wonogiri, Jawa Tengah'],
  ['D200230095',
   'Sragen, 02 July 2005',
   'RT 003 RW 013, Kelurahan Sukasari, Kecamatan Serang Baru,  Kabupaten Bekasi, Jawa Barat'],
  ['A710230055',
   'Klaten, 14 May 2005',
   'RT 1 RW 5, Kelurahan Sentono, Kecamatan Karangdowo,  Kabupaten Klaten, Jawa Tengah'],
  ['A710230024',
   'Surakarta, 10 November 2004',
   'RT 04 RW 05, Kelurahan Penumping, Kecamatan Laweyan,  Kota Surakarta, Jawa Tengah'],
  ['A710230031',
   'Wonogiri, 30 November 2004',
   'RT 01 RW 04, Kelurahan Wirogunan, Kecamatan Kartasura,  Kabupaten Sukoharjo, Jawa Tengah'],
  ['A710230013',
   'Sukoharjo, 11 November 2003',
   'RT 3 RW 1, Kelurahan Kadokan, Kecamatan Grogol,  Kabupaten Sukoharjo, Jawa Tengah'],
  ['A610230011',
   'Banjarnegara, 01 April 2004',
   'RT 01 RW 02, Kelurahan Kalilandak, Kecamatan Purwareja Klampok,  Kabupaten Banjarnegara, Jawa Tengah'],
  ['A710230066',
   'Sragen, 22 February 2005',
   'RT 14 RW 0, Kelurahan Karang Pelem, Kecamatan Kedawung,  Kabupaten Sragen, Jawa Tengah'],
  ['A710230053',
   'Ngawi, 21 September 2004',
   'RT 03 RW 02, Kelurahan Kedunggudel, Kecamatan Widodaren,  Kabupaten Ngawi, Jawa Timur'],
  ['A710230059',
   'Jepara , 04 Mei 2004, 04 May 2004',
   'RT 03 RW 03, Kelurahan Kauman, Kecamatan Jepara,  Kabupaten Jepara, Jawa Tengah'],
  ['L200230045',
   'Grobogan, 07 December 2004',
   'RT 03 RW 01, Kelurahan Danyang, Kecamatan Purwodadi,  Kabupaten Grobogan, Jawa Tengah'],
  ['A710230064',
   'Ngawi, 13 July 2005',
   'RT 02 RW 01, Kelurahan Mantingan, Kecamatan Mantingan,  Kabupaten Ngawi, Jawa Timur'],
  ['A710230048',
   'Sukoharjo, 23 August 2005',
   'RT 02 RW 07, Kelurahan Pabelan, Kecamatan Kartasura,  Kabupaten Sukoharjo, Jawa Tengah'],
  ['L200230020',
   'Surakarta, 27 August 2003',
   'RT 5 RW 9, Kelurahan Gedongan, Kecamatan Colomadu,  Kabupaten Karanganyar, Jawa Tengah'],
  ['A710230106',
   'Blora, 07 February 2005',
   'RT 04 RW 05, Kelurahan Sepanjangjaya, Kecamatan Rawalumbu,  Kota Bekasi, Jawa Barat'],
  ['A220230019',
   'Ngawi, 15 September 2004',
   'RT 001 RW 008, Kelurahan Sambirejo, Kecamatan Mantingan,  Kabupaten Ngawi, Jawa Timur'],
  ['A410230030',
   'Pati, 30 August 2005',
   'RT 4 RW 2, Kelurahan Bogotanjung, Kecamatan Gabus,  Kabupaten Pati, Jawa Tengah'],
  ['A510230272',
   'Bangkalan, 18 May 2001',
   'RT 02 RW 06, Kelurahan Punggul, Kecamatan Gedangan,  Kabupaten Sidoarjo, Jawa Timur'],
  ['D600230129',
   'Bekasi, 03 March 2005',
   'RT 08 RW 08, Kelurahan Sukasari, Kecamatan Serang Baru,  Kabupaten Bekasi, Jawa Barat'],
  ['C100230078',
   'Merauke, 18 February 2006',
   'RT 003 RW 001, Kelurahan Tanjung Ria, Kecamatan Jayapura Utara,  Kota Jayapura, Papua'],
  ['A710230050',
   'Jakarta, 08 October 2003',
   'RT 1 RW 15, Kelurahan Cileduk, Kecamatan Setu,  Kabupaten Bekasi, Jawa Barat'],
  ['A220230024',
   'Boyolali, 13 September 2005',
   'RT 12 RW 2, Kelurahan Batan, Kecamatan Banyudono,  Kabupaten Boyolali, Jawa Tengah'],
  ['A220230009',
   'Tangerang, 05 February 2005',
   'RT 02 RW 05, Kelurahan Pasir Nangka, Kecamatan Tigaraksa,  Kabupaten Tangerang, Banten'],
  ['A710230008',
   'Klaten, 11 June 2004',
   'RT 02 RW 09, Kelurahan Sekaran, Kecamatan Wonosari,  Kabupaten Klaten, Jawa Tengah'],
  ['A710230042',
   'Sragen, 07 March 2003',
   'RT 02 RW 01, Kelurahan Ngepringan, Kecamatan Jenar,  Kabupaten Sragen, Jawa Tengah'],
  ['A710230017',
   'Klaten, 03 August 2004',
   'RT 3 RW 6, Kelurahan Gatak, Kecamatan Delanggu,  Kabupaten Klaten, Jawa Tengah'],
  ['A710230011',
   'Boyolali, 05 October 2004',
   'RT 5 RW 1, Kelurahan Tegalrejo, Kecamatan Sawit,  Kabupaten Boyolali, Jawa Tengah'],
  ['A710230056',
   'Rembang, 24 May 2005',
   'RT 5 RW 2, Kelurahan Seren, Kecamatan Sulang,  Kabupaten Rembang, Jawa Tengah'],
  ['E100230071',
   'Karanganyar, 15 May 2004',
   'RT 03 RW 03, Kelurahan Wonokeling, Kecamatan Jatiyoso,  Kabupaten Karanganyar, Jawa Tengah'],
  ['D100230254',
   'Klaten, 02 October 2004',
   'RT 7 RW 4, Kelurahan Taji, Kecamatan Juwiring,  Kabupaten Klaten, Jawa Tengah'],
  ['A320230033',
   'Sukoharjo, 14 October 2005',
   'RT 1 RW 3, Kelurahan Telukan, Kecamatan Grogol,  Kabupaten Sukoharjo, Jawa Tengah'],
  ['A710230015',
   'Grobogan, 25 June 2004',
   'RT 1 RW 3, Kelurahan Plosoharjo, Kecamatan Toroh,  Kabupaten Grobogan, Jawa Tengah'],
  ['F100230248',
   'Blora, 28 January 2005',
   'RT 03 RW 01, Kelurahan Karangboyo, Kecamatan Cepu,  Kabupaten Blora, Jawa Tengah'],
  ['F100230303',
   'Klaten, 10 July 2004',
   'RT 015 RW 006, Kelurahan Dolopo, Kecamatan Dolopo,  Kabupaten Madiun, Jawa Timur'],
  ['F100230128',
   'Pacitan, 12 July 2005',
   'RT 3 RW 1, Kelurahan Sirnoboyo, Kecamatan Pacitan,  Kabupaten Pacitan, Jawa Timur'],
  ['F100230058',
   'Demak, 09 June 2004',
   'RT 03 RW 02, Kelurahan Betokan, Kecamatan Demak,  Kabupaten Demak, Jawa Tengah'],
  ['F100230276',
   'Sukoharjo, 03 September 2004',
   'RT 04 RW 03, Kelurahan Cangkol, Kecamatan Mojolaban,  Kabupaten Sukoharjo, Jawa Tengah'],
  ['J210230144',
   'Kab. Semarang, 19 September 2004',
   'RT 6 RW 2, Kelurahan Bener, Kecamatan Tengaran,  Kabupaten Semarang, Jawa Tengah'],
  ['F100230234',
   'Bogor, 28 November 2003',
   'RT 1 RW 15, Kelurahan Cilendek Barat, Kecamatan Bogor Barat,  Kota Bogor, Jawa Barat'],
  ['A810230024',
   'Klaten, 12 March 2004',
   'RT 11 RW 06, Kelurahan Troketon, Kecamatan Pedan,  Kabupaten Klaten, Jawa Tengah'],
  ['A810230105',
   'Semarang, 04 December 2002',
   'RT 05 RW 09, Kelurahan Protomulyo, Kecamatan Kaliwungu Selatan,  Kabupaten Kendal, Jawa Tengah'],
  ['A810230034',
   'Boyolali, 08 April 2005',
   'RT 6 RW 3, Kelurahan Krasak, Kecamatan Teras,  Kabupaten Boyolali, Jawa Tengah'],
  ['A220230021',
   'Boyolali, 07 March 2005',
   'RT 015 RW 004, Kelurahan Pelem, Kecamatan Simo,  Kabupaten Boyolali, Jawa Tengah'],
  ['A220230014',
   'Sukaraja, 08 March 2005',
   'RT 002 RW 002, Kelurahan Sukaraja, Kecamatan Palas,  Kabupaten Lampung Selatan, Lampung'],
  ['L200230217',
   'Sragen, 10 June 2005',
   'RT 01 RW 07, Kelurahan Sine, Kecamatan Sragen,  Kabupaten Sragen, Jawa Tengah'],
  ['A220230006',
   'Sragen, 24 May 2005',
   'RT 13 RW 4, Kelurahan Gondang, Kecamatan Gondang,  Kabupaten Sragen, Jawa Tengah']],
 [['D400220032'],
  ['D200230168'],
  ['F100230318'],
  ['A710230020'],
  ['A810230035'],
  ['D600230019'],
  ['E100210020'],
  ['A710230014'],
  ['D600230160'],
  ['A710230012'],
  ['A320220097'],
  ['A320220044'],
  ['A220230024']],
 [])

In [50]:
# Ikhwan
clean_data_ikhwan = data_cleaned_ikhwan[0]
clean_data_ikhwan_min_3 = data_cleaned_ikhwan[2]
clean_data_ikhwan_1 = data_cleaned_ikhwan[1]

# Akhwat
clean_data_akhwat = data_cleaned_akhwat[0]
clean_data_akhwat_min_3 = data_cleaned_akhwat[2]
clean_data_akhwat_1 = data_cleaned_akhwat[1]

clean_data_ikhwan_1

[['D400220032'],
 ['D200230168'],
 ['F100230318'],
 ['A710230020'],
 ['A810230035'],
 ['D600230019'],
 ['E100210020'],
 ['A710230014'],
 ['D600230160'],
 ['A710230012'],
 ['A320220097'],
 ['A320220044'],
 ['A220230024']]

In [56]:
new_data_ikhwan = pd.DataFrame(clean_data_ikhwan, columns=("NIM", "TTL", "Alamat"))
new_data_akhwat = pd.DataFrame(clean_data_akhwat, columns=("NIM", "TTL", "Alamat"))
new_data_ikhwan_1 = pd.DataFrame(clean_data_ikhwan_1, columns=["NIM"])
new_data_akhwat_1 = pd.DataFrame(clean_data_akhwat_1, columns=["NIM"])

new_data_ikhwan

,NIM,TTL,Alamat
0,A710230135,"Jakarta, 06 August 2004","RT 2 RW 4, Kelurahan Pule, Kecamatan Jatisrono..."
1,A710230074,"Surakarta, 04 April 2005","RT 03 RW 06, Kelurahan Ketelan, Kecamatan Banj..."
2,C100230387,"Wonogiri, 16 December 2004","RT 1 RW 8, Kelurahan Klunggen, Kecamatan Slogo..."
3,D200230095,"Sragen, 02 July 2005","RT 003 RW 013, Kelurahan Sukasari, Kecamatan S..."
4,A710230055,"Klaten, 14 May 2005","RT 1 RW 5, Kelurahan Sentono, Kecamatan Karang..."
5,A710230024,"Surakarta, 10 November 2004","RT 04 RW 05, Kelurahan Penumping, Kecamatan La..."
6,A710230031,"Wonogiri, 30 November 2004","RT 01 RW 04, Kelurahan Wirogunan, Kecamatan Ka..."
7,A710230013,"Sukoharjo, 11 November 2003","RT 3 RW 1, Kelurahan Kadokan, Kecamatan Grogol..."
8,A610230011,"Banjarnegara, 01 April 2004","RT 01 RW 02, Kelurahan Kalilandak, Kecamatan P..."
9,A710230066,"Sragen, 22 February 2005","RT 14 RW 0, Kelurahan Karang Pelem, Kecamatan ..."
10,A710230053,"Ngawi, 21 September 2004","RT 03 RW 02, Kelurahan Kedunggudel, Kecamatan ..."
11,A710230059,"Jepara , 04 Mei 2004, 04 May 2004","RT 03 RW 03, Kelurahan Kauman, Kecamatan Jepar..."
12,L200230045,"Grobogan, 07 December 2004","RT 03 RW 01, Kelurahan Danyang, Kecamatan Purw..."
13,A710230064,"Ngawi, 13 July 2005","RT 02 RW 01, Kelurahan Mantingan, Kecamatan Ma..."
14,A710230048,"Sukoharjo, 23 August 2005","RT 02 RW 07, Kelurahan Pabelan, Kecamatan Kart..."
15,L200230020,"Surakarta, 27 August 2003","RT 5 RW 9, Kelurahan Gedongan, Kecamatan Colom..."
16,A710230106,"Blora, 07 February 2005","RT 04 RW 05, Kelurahan Sepanjangjaya, Kecamata..."
17,A220230019,"Ngawi, 15 September 2004","RT 001 RW 008, Kelurahan Sambirejo, Kecamatan ..."
18,A410230030,"Pati, 30 August 2005","RT 4 RW 2, Kelurahan Bogotanjung, Kecamatan Ga..."
19,A510230272,"Bangkalan, 18 May 2001","RT 02 RW 06, Kelurahan Punggul, Kecamatan Geda..."
20,D600230129,"Bekasi, 03 March 2005","RT 08 RW 08, Kelurahan Sukasari, Kecamatan Ser..."
21,C100230078,"Merauke, 18 February 2006","RT 003 RW 001, Kelurahan Tanjung Ria, Kecamata..."
22,A710230050,"Jakarta, 08 October 2003","RT 1 RW 15, Kelurahan Cileduk, Kecamatan Setu,..."
23,A220230024,"Boyolali, 13 September 2005","RT 12 RW 2, Kelurahan Batan, Kecamatan Banyudo..."
24,A220230009,"Tangerang, 05 February 2005","RT 02 RW 05, Kelurahan Pasir Nangka, Kecamatan..."
25,A710230008,"Klaten, 11 June 2004","RT 02 RW 09, Kelurahan Sekaran, Kecamatan Wono..."
26,A710230042,"Sragen, 07 March 2003","RT 02 RW 01, Kelurahan Ngepringan, Kecamatan J..."
27,A710230017,"Klaten, 03 August 2004","RT 3 RW 6, Kelurahan Gatak, Kecamatan Delanggu..."
28,A710230011,"Boyolali, 05 October 2004","RT 5 RW 1, Kelurahan Tegalrejo, Kecamatan Sawi..."
29,A710230056,"Rembang, 24 May 2005","RT 5 RW 2, Kelurahan Seren, Kecamatan Sulang, ..."
30,E100230071,"Karanganyar, 15 May 2004","RT 03 RW 03, Kelurahan Wonokeling, Kecamatan J..."
31,D100230254,"Klaten, 02 October 2004","RT 7 RW 4, Kelurahan Taji, Kecamatan Juwiring,..."
32,A320230033,"Sukoharjo, 14 October 2005","RT 1 RW 3, Kelurahan Telukan, Kecamatan Grogol..."
33,A710230015,"Grobogan, 25 June 2004","RT 1 RW 3, Kelurahan Plosoharjo, Kecamatan Tor..."
34,F100230248,"Blora, 28 January 2005","RT 03 RW 01, Kelurahan Karangboyo, Kecamatan C..."
35,F100230303,"Klaten, 10 July 2004","RT 015 RW 006, Kelurahan Dolopo, Kecamatan Dol..."
36,F100230128,"Pacitan, 12 July 2005","RT 3 RW 1, Kelurahan Sirnoboyo, Kecamatan Paci..."
37,F100230058,"Demak, 09 June 2004","RT 03 RW 02, Kelurahan Betokan, Kecamatan Dema..."
38,F100230276,"Sukoharjo, 03 September 2004","RT 04 RW 03, Kelurahan Cangkol, Kecamatan Mojo..."
39,J210230144,"Kab. Semarang, 19 September 2004","RT 6 RW 2, Kelurahan Bener, Kecamatan Tengaran..."
40,F100230234,"Bogor, 28 November 2003","RT 1 RW 15, Kelurahan Cilendek Barat, Kecamata..."
41,A810230024,"Klaten, 12 March 2004","RT 11 RW 06, Kelurahan Troketon, Kecamatan Ped..."
42,A810230105,"Semarang, 04 December 2002","RT 05 RW 09, Kelurahan Protomulyo, Kecamatan K..."
43,A810230034,"Boyolali, 08 April 2005","RT 6 RW 3, Kelurahan Krasak, Kecamatan Teras, ..."
44,A220230021,"Boyolali, 07 March 2005","RT 015 RW 004, Kelurahan Pelem, Kecamatan Simo..."
45,A220230014,"Sukaraja, 08 March 2005","RT 002 RW 002, Kelurahan Sukaraja, Kecamatan P..."
46,L200230217,"Sragen, 10 June 2005","RT 01 RW 07, Kelurahan Sine, Kecamatan Sragen,..."
47,A220230006,"Sragen, 24 May 2005","RT 13 RW 4, Kelurahan Gondang, Kecamatan Gonda..."

In [63]:
sorted_df_ikhwan_clean = new_data_ikhwan.sort_values(by="NIM").reset_index(drop=True)
sorted_df_ikhwan_clean_1 = new_data_ikhwan_1.sort_values(by="NIM").reset_index(drop=True)
sorted_df_akhwat_clean = new_data_akhwat.sort_values(by="NIM").reset_index(drop=True)
sorted_df_akhwat_clean_1 = new_data_akhwat_1.sort_values(by="NIM").reset_index(drop=True)

sorted_df_akhwat_clean_1

          NIM
0    42111177
1  A410230026
2  A410230044
3  A410230049
4  L100224180

In [67]:
# Filtering data based on NIM Alphabet
filtered_df_ikhwan_fki = sorted_df_ikhwan_clean[sorted_df_ikhwan_clean['NIM'].str.startswith('L')].reset_index(drop=True)
filtered_df_ikhwan_fki_1 = sorted_df_ikhwan_clean_1[sorted_df_ikhwan_clean_1['NIM'].str.startswith('L')].reset_index(drop=True)
filtered_df_akhwat_fki = sorted_df_akhwat_clean[sorted_df_akhwat_clean['NIM'].str.startswith('L')].reset_index(drop=True)
filtered_df_akhwat_fki_1 = sorted_df_akhwat_clean_1[sorted_df_akhwat_clean_1['NIM'].str.startswith('L')].reset_index(drop=True)


filtered_df_akhwat_fki

,NIM,TTL,Alamat
0,L100230205,"Surakarta, 30 July 2005","RT 2 RW 4, Kelurahan Kampung Baru, Kecamatan P..."

In [68]:
# Save Data to Local
sorted_df_ikhwan_clean.to_excel("Cinsub_2_(28-Okt-2023)_Fakultas Lain Ikhwan_Data-Bersih.xlsx")
sorted_df_ikhwan_clean_1.to_excel("Cinsub_2_(28-Okt-2023)_Fakultas Lain Ikhwan_Data-Kotor.xlsx")
sorted_df_akhwat_clean.to_excel("Cinsub_2_(28-Okt-2023)_Fakultas Lain Akhwat_Data-Bersih.xlsx")
sorted_df_akhwat_clean_1.to_excel("Cinsub_2_(28-Okt-2023)_Fakultas Lain Akhwat_Data-Kotor.xlsx")

,NIM,TTL,Alamat
0,L100230226,"Boyolali, 22 September 2004","RT 4 RW 4, Kelurahan Mojosongo, Kecamatan Mojo..."
1,L100230085,"Brebes, 17 September 2003","RT 02 RW 06, Kelurahan Pasar Batang, Kecamatan..."
2,L200230248,"Surakarta, 03 February 2005","RT 5 RW 28, Kelurahan Mojosongo, Kecamatan Jeb..."
3,L100234263,"Karanganyar, 22 November 2004","RT 9 RW 6, Kelurahan Ngijo, Kecamatan Tasikmad..."
4,L100234250,"Ponorogo, 25 July 2004","RT 01 RW 01, Kelurahan Patihan Kidul, Kecamata..."
...,...,...,...
111,L200230182,"Sragen, 08 May 2005","RT 27 RW 12, Kelurahan Ngarum, Kecamatan Ngram..."
112,L100230160,"Karanganyar, 01 July 2005","RT 01 RW 06, Kelurahan Bakalan, Kecamatan Juma..."
113,L100230008,"Wonosobo, 16 November 2003","RT 03 RW 06, Kelurahan Bumireso, Kecamatan Won..."
114,L200239192,"Sragen, 02 January 2005","RT 07 RW 0, Kelurahan Donoyudan, Kecamatan Kal..."
115,L100230199,"Sragen, 30 December 2004","RT 1 RW 1, Kelurahan Jati, Kecamatan Masaran, ..."

In [69]:
# Save Data to Local
filtered_df_ikhwan_fki.to_excel("Cinsub_2_(28-Okt-2023)_FKI-Ikhwan_Data-Bersih.xlsx")
filtered_df_ikhwan_fki_1.to_excel("Cinsub_2_(28-Okt-2023)_FKI-Ikhwan_Data-Kotor.xlsx")
filtered_df_akhwat_fki.to_excel("Cinsub_2_(28-Okt-2023)_FKI-Akhwat_Data-Bersih.xlsx")
filtered_df_akhwat_fki_1.to_excel("Cinsub_2_(28-Okt-2023)_FKI-Akhwat_Data-Kotor.xlsx")